<section class="content">
  <div class="post-containter">
    {{#each posts as |posts|}}
    <div class="post-header">
      <div class="post-created">
        <p>
          {{posts.title}}
          {{posts.date}}
        </p>
      </div>
      <div class="post-body">
        <p>
          {{posts.body}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</section>